@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-banner magic-ball">
        <div class="container">
            <div class="row align-items-center text-center text-md-right">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0 offset-xl-1">
                    <h1>مسافرت بیشتر برای کشف خودتان</h1>
                    <p>
                        چراغهای بالدار بذر هوا نهنگ های بالدار را در تصویر ششم دریاها مشاهده می کنند ، بنابراین همه گوشتهای درختی وجود ندارد چراغهای بالدار دانه ای وجود دارد که نهنگ های بالدار را در تصویر شبه دریایی ششم دریاها مشاهده نمی کنید ، بنابراین همه گوشتهای درختی در
                        آنجا وجود ندارند.
                    </p>
                    <a class="button button-hero mt-4" href="#">شروع کنید!</a>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-6">
                    <img class="img-fluid" src="/hero-img.3a4192db.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin generic-margin">
        <div class="container">
            <div class="section-intro text-center pb-90px">
                <img class="section-intro-img" src="/section-icon.3f4d03e0.png" alt="" />
                <h2>Our Popular Services</h2>
                <p>Fowl have fruit moveth male they are that place you will lesser</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="/service1.6fa76464.png" alt="" />
                        </div>
                        <div class="service-card-body">
                            <h3>Hotel Booking</h3>
                            <p>
                                Great so dominion two seed give dry rule be fowl him female you will gathered creeping and created air
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="/service2.843e4b72.png" alt="" />
                        </div>
                        <div class="service-card-body">
                            <h3>Flight Booking</h3>
                            <p>
                                Great so dominion two seed give dry rule be fowl him female you will gathered creeping and created air
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="service-card text-center">
                        <div class="service-card-img">
                            <img class="img-fluid" src="/service3.cf0b8034.png" alt="" />
                        </div>
                        <div class="service-card-body">
                            <h3>Destination Booking</h3>
                            <p>
                                Great so dominion two seed give dry rule be fowl him female you will gathered creeping and created air
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray section-padding magic-ball magic-ball-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 mb-4 mb-md-0">
                    <div class="about-img">
                        <img class="img-fluid" src="/about-img.b7ded872.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 align-self-center about-content">
                    <h2>
                        Exploration is <br class="d-none d-xl-block" /> really the essence <br class="d-none d-xl-block" /> of the human spirit
                    </h2>
                    <p>
                        Make she'd moved divided air. Whose tree that replenish tone hath own upon them it multiply was blessed is lights make gathering so day dominion so creeping air was made.
                    </p>
                    <a class="button" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin pb-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tour-card">
                        <img class="card-img rounded-0" src="/tour1.343b58d2.png" alt="" />
                        <div class="tour-card-overlay">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Paris tour offer</h4>
                                    <small>5 days offer</small>
                                    <p>We proper guided our tourist</p>
                                </div>
                                <div class="media-price">
                                    <h4 class="text-primary">$65/day</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="tour-content">
                                <h2>We offer worldwise tour plan recently</h2>
                                <p>
                                    Make she'd moved divided air. Whose tree that hath own upon them it multiply was blessed
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tour-card">
                        <img class="card-img rounded-0" src="/tour2.3799a3be.png" alt="" />
                        <div class="tour-card-overlay">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Paris tour offer</h4>
                                    <small>5 days offer</small>
                                    <p>We proper guided our tourist</p>
                                </div>
                                <div class="media-price">
                                    <h4 class="text-primary">$65/day</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <div class="tour-card">
                        <img class="card-img rounded-0" src="/tour3.65dcf90c.png" alt="" />
                        <div class="tour-card-overlay">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Paris tour offer</h4>
                                    <small>5 days offer</small>
                                    <p>We proper guided our tourist</p>
                                </div>
                                <div class="media-price">
                                    <h4 class="text-primary">$65/day</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="tour-card">
                        <img class="card-img rounded-0" src="/tour4.cdacde18.png" alt="" />
                        <div class="tour-card-overlay">
                            <div class="media">
                                <div class="media-body">
                                    <h4>Paris tour offer</h4>
                                    <small>5 days offer</small>
                                    <p>We proper guided our tourist</p>
                                </div>
                                <div class="media-price">
                                    <h4 class="text-primary">$65/day</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5">
        <div class="container">
            <div class="section-intro text-center pb-90px">
                <img class="section-intro-img" src="/section-icon.3f4d03e0.png" alt="" />
                <h2>Our client says</h2>
                <p>Fowl have fruit moveth male they are that place you will lesser</p>
            </div>
            <div class="owl-carousel owl-theme testimonial pb-xl-5">
                <div class="testimonial__item">
                    <div class="row">
                        <div class="col-md-3 col-lg-2 align-self-center">
                            <div class="testimonial__img">
                                <img class="card-img rounded-0" src="/t-slider1.bb6adaf6.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="testimonial__content mt-3 mt-sm-0">
                                <h3>Daniel heart</h3>
                                <p>Project manager, Nestle</p>
                                <p class="testimonial__i">
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had
                                </p>
                                <span class="testimonial__icon"><i class="ti-quote-right"></i
                  ></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial__item">
                    <div class="row">
                        <div class="col-md-3 col-lg-2 align-self-center">
                            <div class="testimonial__img">
                                <img class="card-img rounded-0" src="/t-slider1.bb6adaf6.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="testimonial__content mt-3 mt-sm-0">
                                <h3>Daniel heart</h3>
                                <p>Project manager, Nestle</p>
                                <p class="testimonial__i">
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had
                                </p>
                                <span class="testimonial__icon"><i class="ti-quote-right"></i
                  ></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial__item">
                    <div class="row">
                        <div class="col-md-3 col-lg-2 align-self-center">
                            <div class="testimonial__img">
                                <img class="card-img rounded-0" src="/t-slider1.bb6adaf6.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-10">
                            <div class="testimonial__content mt-3 mt-sm-0">
                                <h3>Daniel heart</h3>
                                <p>Project manager, Nestle</p>
                                <p class="testimonial__i">
                                    Also made from. Give may saying meat there from heaven it lights face had is gathered god earth light for life may itself shall whales made they're blessed whales also made from give may saying meat. There from heaven it lights face had
                                </p>
                                <span class="testimonial__icon"><i class="ti-quote-right"></i
                  ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 align-self-center mb-5 mb-lg-0">
                    <div class="search-content">
                        <h2>
                            Search suitable <br class="d-none d-xl-block" /> and affordable plan <br class="d-none d-xl-block" /> for your tour
                        </h2>
                        <p>
                            Make she'd moved divided air. Whose tree that replenish tone hath own upon them it multiply was blessed is lights make gathering so day dominion so creeping
                        </p>
                        <a class="button" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 offset-xl-1">
                    <div class="search-wrapper">
                        <h3>Search Package</h3>
                        <form class="search-form" action="#">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="ti-search"></i
                      ></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="category" id="category">
                    <option value="disabled" disabled selected>Category</option>
                    <option value="8 AM">8 AM</option>
                    <option value="12 PM">12 PM</option>
                  </select>
                            </div>
                            <div class="form-group">
                                <select name="tourDucation" id="tourDuration">
                    <option value="disabled" disabled selected>Tour duration</option>
                    <option value="8 AM">8 AM</option>
                    <option value="12 PM">12 PM</option>
                  </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="date" class="form-control" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="ti-notepad"></i
                      ></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="priceRange" id="priceRange">
                    <option value="disabled" disabled selected>Price range</option>
                    <option value="8 AM">8 AM</option>
                    <option value="12 PM">12 PM</option>
                  </select>
                            </div>
                            <div class="form-group">
                                <button class="button border-0 mt-3" type="submit">
                    Search Package
                  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding bg-gray">
        <div class="container">
            <div class="section-intro text-center pb-90px">
                <img class="section-intro-img" src="/section-icon.3f4d03e0.png" alt="" />
                <h2>From our Blog</h2>
                <p>Fowl have fruit moveth male they are that place you will lesser</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card-blog">
                        <img class="card-img rounded-0" src="/blog-1.b5009ee1.png" alt="" />
                        <div class="card-blog-body">
                            <a href="#">
                                <h4>Forest responds to consultation smoking in al fresco.</h4>
                            </a>
                            <ul class="card-blog-info">
                                <li>
                                    <a href="#"><span class="align-middle"
                        ><i class="ti-notepad"></i></span
                      >Jan 03, 2018</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="align-middle"
                        ><i class="ti-comments-smiley"></i></span
                      >03 Comments</a
                    >
                  </li>
                </ul>
                <p>
                  Varius metus morbi ferme libero vehic on porta malesuada ut
                  interdu estmales torquent vehicula parturient
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card-blog">
              <img
                class="card-img rounded-0"
                src="/blog-2.f064cc19.png"
                alt=""
              />
              <div class="card-blog-body">
                <a href="#">
                  <h4>Forest responds to consultation smoking in al fresco.</h4>
                </a>
                                    <ul class="card-blog-info">
                                        <li>
                                            <a href="#"><span class="align-middle"
                        ><i class="ti-notepad"></i></span
                      >Jan 03, 2018</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="align-middle"
                        ><i class="ti-comments-smiley"></i></span
                      >03 Comments</a
                    >
                  </li>
                </ul>
                <p>
                  Varius metus morbi ferme libero vehic on porta malesuada ut
                  interdu estmales torquent vehicula parturient
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card-blog">
              <img
                class="card-img rounded-0"
                src="/blog-3.96e9a0c9.png"
                alt=""
              />
              <div class="card-blog-body">
                <a href="#">
                  <h4>Forest responds to consultation smoking in al fresco.</h4>
                </a>
                                            <ul class="card-blog-info">
                                                <li>
                                                    <a href="#"><span class="align-middle"
                        ><i class="ti-notepad"></i></span
                      >Jan 03, 2018</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="align-middle"
                        ><i class="ti-comments-smiley"></i></span
                      >03 Comments</a
                    >
                  </li>
                </ul>
                <p>
                  Varius metus morbi ferme libero vehic on porta malesuada ut
                  interdu estmales torquent vehicula parturient
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>